<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TANSUAT_PHUT" value="60" />
    <add key="ConnectERP" value="Data Source=14.160.46.210,6888;Initial Catalog=MKT_ERP;User ID=mkterp;Password=123456;"/>
    <add key="ConnectKangaroLH" value="Data Source=42.112.31.63;Initial Catalog=Ksmart_Kangaroo;User ID=ksmart_kangaroo;Password=kangaroo_ro123;"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
